*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.item1{
    display: flex;
    margin-top: 10px;
}
.item1>h1{
    font-size: 35px;
    margin-top: 5px;
    display: inline-block;
}

.search{
    background-color: rgb(233, 235, 236);
    border-radius: 20px;
    display: flex;
    width: 700px;
    height: 40px;
   margin-left: 200px;
   margin-top: 5px;

}
.search p{
    font-size: 18px;
    opacity: 0.6;
    margin-top: 8px;
    margin-left: 10px;
}
.browser>a:hover{
    color: brown;
    
}
.windows{
    display: flex;
    padding: 10px;
    margin-right: 20px;
    

}
.message{
     display: flex;
    padding: 30px;
    margin-top: 20px;
}
.nature{
    display: flex;
}
a:hover{
    color: rgb(243, 77, 77);
}
